{% extends 'layout.html' %}
{% load static %}
{% load custom_tags %}
{% load i18n %}

{% block searchbar %}
	{% get_all_categories %}
{% endblock %}

{% block nav %}
<!-- NAVIGATION -->
<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav">
				<li><a href="/">{% trans 'Home' %}</a></li>
				<li><a href="#">{% trans 'Hot Deals' %}</a></li>
				<li><a href="{% url 'store' %}">{% trans 'Store' %}</a></li>
			</ul>
			<!-- /NAV -->
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>
<!-- /NAVIGATION -->
{% endblock %}

{% block breadcrumb %}
	<li><a href="/">{% trans 'Home' %}</a></li>
	<li><a href="{% url 'store' %}">{% trans 'All Categories' %}</a></li>
	<li>{{product.category}}</li>
	<li class="active">{{ product.title }}</li>
{% endblock %}

{% block content %}
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{MEDIA_ROOT}}/media/{{product.image}}" alt="">
							</div>
							{% if bonus_images|length > 0 %}
							{% for img in bonus_images %}
							<div class="product-preview">
								<img src="{{MEDIA_ROOT }}/media/{{ img.images }}" alt="">
							</div>
							{% endfor %}
							{% endif %}
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								<img src="{{MEDIA_ROOT}}/media/{{product.image}}" alt="">
							</div>
							{% if bonus_images|length > 0 %}
							{% for img in bonus_images %}
							<div class="product-preview">
								<img src="{{MEDIA_ROOT }}/media/{{ img.images }}" alt="">
							</div>
							{% endfor %}
							{% endif %}
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{ product.title }}</h2>
							<div>
							<div class="product-rating">
									{% for i in 5|times %}
										{% if i < product.rating %}
											<i class="fa fa-star"></i>
										{% else %}
											<i class="fa fa-star-o empty"></i>
										{% endif %}
									{% endfor %}
							</div>
								<a class="review-link" href="#reviews_list">{{page_obj.paginator.count}} {% trans 'Review(s)' %} | {% trans 'Add your review' %}</a>
							</div>
							<div>
								<h3 class="product-price">{{ product.price }}</h3>
								<span class="product-available">
									{% if offers|length > 0 %}
									{% trans 'In Stock' %}
									{% else %}
									{% trans 'Out Of Stock' %}
									{% endif %}
								</span>
							</div>
							<p>{{product.description}}</p>
								<script>
								$(function(){
									$("input[name='quantity']").val("1");
								});
								</script>
							{% if request.user.is_authenticated %}
							{% if offers|length > 0 %}
							<div class="add-to-cart">
								<form action="{% url 'add_to_cart' %}" method="get">
								<div class="qty-label">
									{% trans 'Qty' %}
									<div class="input-number">
										<input type="number" name="quantity">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
								</div>
									<input type="hidden" name="id" value="{{product.id}}">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> {% trans 'add to cart' %}</button>
								</form>
							</div>
							{% endif %}
							<div class="product-btns ">
								<form class="add-to-wishlist-form" style="width:100%;" method="get" action="{% url 'add_to_wish' %}">
									<button class="add-to-wishlist wish-in-detail">
										<input type="hidden" name="id" value="{{ product.id }}">
										{% if product.id in wishlist %}
											<i class="heart-custom"></i>
										<span class="in-wish">{% trans 'add to wishlist' %}</span>
										{% else %}
											<i class="heart-o-custom"></i>
										<span class="out-wish">{% trans 'add to wishlist' %}</span>
										{% endif %}
									</button>
								</form>
							</div>
							{% else %}
							<div class="add-to-cart">
								<a href="{% url 'register' %}" class="primary-btn order-submit">{% trans 'add to cart' %}</a>
							</div>
							{% endif %}

							<ul class="product-links">
								<li>{% trans 'Category:' %}</li>
								<li>
									<a href="{% url 'store' %}">{{ product.category }}</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li><a data-toggle="tab" href="#tab1">{% trans 'Shops' %}</a></li>
								<li class="active"><a data-toggle="tab" href="#tab2">{% trans 'Reviews' %} ({{page_obj.paginator.count}})</a></li>
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in">
									<div class="row">
										<div class="col-md-12">
											<div class="order-summary">
												{% for offer in offers %}
												<div class="order-col" style="width: 50%; font-size:20px;">
													<div><strong>{% trans 'Store' %}</strong></div>
													<div><strong>{% trans 'In stock:' %}</strong></div>
												</div>
												<div class="order-products">
													<div class="order-col" style="width: 50%; font-size:16px;">
														<div><a href="{{offer.shop.url}}">{{offer.shop}}</a></div>
														<div>{{offer.qty}}</div>
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
								<!-- /tab1  -->

								<!-- tab2  -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="row">
										<!-- Rating -->
										{% if page_obj.paginator.count > 0 %}
										<div class="col-md-3">
											<div id="rating">
												<div class="rating-avg">
													<span>{{product.rating}}</span>
													<div class="rating-stars">
														{% for i in 5|times %}
															{% if i < product.rating %}
																<i class="fa fa-star"></i>
															{% else %}
																<i class="fa fa-star-o empty"></i>
															{% endif %}
														{% endfor %}
													</div>
												</div>
												<ul class="rating">
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<div class="rating-progress">
															<div style="width: {{dict_ratio|progress:'5'}};"></div>
														</div>
														<span class="sum">{{dict_ratio|value:'5'}}</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">

															<div style="width: {{dict_ratio|progress:'4'}}%;"></div>
														</div>
														<span class="sum">{{dict_ratio|value:'4'}}</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width: {{dict_ratio|progress:'3'}}%;"></div>
														</div>
														<span class="sum">{{dict_ratio|value:'3'}}</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width: {{dict_ratio|progress:'2'}}%;"></div>
														</div>
														<span class="sum">{{dict_ratio|value:'2'}}</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width: {{dict_ratio|progress:'1'}}%;"></div>
														</div>
														<span class="sum">{{dict_ratio|value:'1'}}</span>
													</li>
												</ul>
											</div>
										</div>
										<!-- /Rating -->

										<!-- Reviews -->
										<div class="col-md-6" id="reviews_list">

											<div id="reviews">
												<ul class="reviews">
													{% for review in page_obj %}
													<li>
														<div class="review-heading">
															<h5 class="name">{{review.user_name}}</h5>
															<p class="date">{{review.date_review}}</p>
															<div class="review-rating">
																{% for i in 5|times %}
																	{% if i < review.rating %}
																		<i class="fa fa-star"></i>
																	{% else %}
																		<i class="fa fa-star-o empty"></i>
																	{% endif %}
																{% endfor %}
															</div>
														</div>
														<div class="review-body">
															<p>
																{{review.text_review}}
															</p>
														</div>
													</li>
													{% endfor %}
												</ul>
												{% if page_obj.paginator.num_pages > 1 %}
												<ul class="reviews-pagination">
													{% if page_obj.has_previous %}
													<li><a href="?page=1#reviews_list">&laquo;&laquo; </a></li>
													<li><a href="?page={{ page_obj.previous_page_number }}#reviews_list">&laquo; </a></li>
													{% endif %}
													<li class="active">{{ page_obj.number }}</li>
													{% if page_obj.has_next %}
													<li><a href="?page={{ page_obj.next_page_number }}#reviews_list"> &raquo;</a></li>
													<li><a href="?page={{ page_obj.paginator.num_pages }}#reviews_list"> &raquo;&raquo;</a></li>
													{% endif %}
												</ul>
												{% endif %}
											</div>

										</div>
										{% else %}
										<div class="col-md-3" style="width: 70%; text-align: center;">
											<h3>{% trans 'There is no ones review' %}</h3>
										</div>
										{% endif %}
										<!-- /Reviews -->

										<!-- Review Form -->
										<div class="col-md-3">
											<div id="review-form">
												<form method ="post" action="{% url 'add_review' product.id %}" class="review-form">
													{% csrf_token %}
													<input class="input" type="text" name="user_name" placeholder="{% trans 'Your Name' %}">
													<input class="input" type="email" name="email" placeholder="{% trans 'Your Email' %}">
													<textarea class="input" name="text_review" placeholder="{% trans 'Your Review' %}"></textarea>
													<div class="input-rating">
														<span>{% trans 'Your Rating:' %} </span>
														<div class="stars">
															<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
															<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
															<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
															<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
															<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
														</div>
													</div>
													<button class="primary-btn">{% trans 'Submit' %}</button>
												</form>
											</div>
										</div>
										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% get_related_products product %}
{% endblock %}



